<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>검색 테스트</div>
    <div>
      <input type="text" name="search" id="search" />
      <button onclick="goSearchPage()">검색</button>
    </div>
    <div id="map" style="width: 500px; height: 400px"></div>

    <script
      type="text/javascript"
      th:src="'https://dapi.kakao.com/v2/maps/sdk.js?appkey=' + ${kakaoMapApiKey} + '&libraries=services'"
    ></script>
    <script th:inline="javascript">
      document.addEventListener("DOMContentLoaded", function () {
        var container = document.getElementById("map");
        var options = {
          center: new kakao.maps.LatLng(35.1797, 129.07514),
          level: 3,
        };

        var map = new kakao.maps.Map(container, options);

        var positions = /*[[${DTO.reqSelectedMapDataDTOlist}]]*/ [];
        var infowindow = new kakao.maps.InfoWindow({
          content: "",
          removable: true,
        });

        /*[# th:each="position : ${DTO.reqSelectedMapDataDTOlist}"]*/
        for (var i = 0; i < positions.length; i++) {
          var marker = new kakao.maps.Marker({
            map: map,
            position: new kakao.maps.LatLng(
              positions[i].latitude,
              positions[i].longitude
            ),
            title: positions[i].name,
          });

          kakao.maps.event.addListener(
            marker,
            "click",
            (function (marker, position) {
              return function () {
                infowindow.setContent(
                  '<div style="padding:10px;">' +
                    "<h3>" +
                    position.name +
                    "</h3>" +
                    "<p>도로명주소: " +
                    position.streetAddress +
                    "</p>" +
                    "<p>지번주소: " +
                    position.numberAddress +
                    "</p>" +
                    "<p>업종: " +
                    position.sector +
                    "</p>" +
                    '<p><a href="https://map.kakao.com/link/to/' +
                    position.name +
                    "," +
                    position.latitude +
                    "," +
                    position.longitude +
                    '">길찾기</a></p>' +
                    "</div>"
                );

                infowindow.open(map, marker);
              };
            })(marker, positions[i])
          );
        }
        /*[/]*/

        kakao.maps.event.addListener(map, "click", function () {
          infowindow.close();
        });
      });
      
      const goSearchPage = () => {
        let searchInput = document.getElementById("search");
        let searchValue = searchInput.value;

        if (searchValue.trim() !== "") {
          window.location.href = "/search/" + encodeURIComponent(searchValue);
        } else {
          alert("검색어를 입력하세요.");
        }
      };
    </script>
  </body>
</html>
